# Dunnhumby & Instacart Data Cleaning

##### Source:

* Original Dataset: “The Instacart Online Grocery Shopping Dataset 2017”, Accessed from https://www.instacart.com/datasets/grocery-shopping-2017 on July 30,2017
* Original Dataset: “The Complete Journey”, Accessed from https://www.dunnhumby.com/sourcefiles on August 7,2017

In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

## Dunnhumby

In [2]:
#Import Transaction Data Set as a dataframe:
d_trans_data = pd.read_csv("Data/dunnhumby/transaction_data.csv")

#Import Product Data Set

d_prod_data = pd.read_csv("Data/dunnhumby/product.csv")

FileNotFoundError: File b'Data/dunnhumby/transaction_data.csv' does not exist

In [3]:
#create an empty data frame to store the randoms in...
d_trans_sample = pd.DataFrame(data=None, columns=d_trans_data.columns,index=d_trans_data.index)

In [80]:
d_trans_data.shape

(2595732, 12)

In [82]:
d_trans_data.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [83]:
d_trans_data.loc[~d_trans_data["PRODUCT_ID"] == 5126088]

Empty DataFrame
Columns: [household_key, BASKET_ID, DAY, PRODUCT_ID, QUANTITY, SALES_VALUE, STORE_ID, RETAIL_DISC, TRANS_TIME, WEEK_NO, COUPON_DISC, COUPON_MATCH_DISC]
Index: []

In [79]:
#Need to also exclude specific product IDs that have no information

also_exclude = [5126087, 5126088, 5126106, 5126107, 5977100, 5978648, 5978649, 5978650, 5978656, 5978657, 5978659, 5993051, 5993054, 5993055, 6693056]
d_p_s = d_trans_data.loc[~d_trans_data["PRODUCT_ID"].isin(exclude)]
d_p_s.shape

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:379: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(2595732, 12)

In [71]:
#Check for Blanks in trans data:
blanks = np.where(pd.isnull(d_trans_data))
print(blanks)

(array([], dtype=int64), array([], dtype=int64))

In [75]:
#Take a random sample of 100 users:

user_values_d = d_trans_data.household_key.values
clean_user_values_d = np.unique(user_values_d)
clean_user_values_d

array([   1,    2,    3, ..., 2498, 2499, 2500], dtype=int64)

In [76]:
#Take random sample of 100 users
np.random.seed(161803399)
rand_user_values_d = np.random.choice(clean_user_values_d, 100)

rand_user_values_d_sort = np.sort(rand_user_values_d)
print(rand_user_values_d_sort)

[  13   54   80  155  181  183  187  192  208  235  246  250  327  397  414
  438  441  466  467  472  484  487  505  510  511  516  546  553  563  604
  646  738  759  810  824  890  905  938  956  967  979  987 1034 1054 1065
 1108 1116 1177 1262 1267 1308 1332 1365 1441 1465 1557 1559 1609 1610 1616
 1643 1664 1708 1722 1760 1770 1837 1842 1906 1921 1968 1987 2005 2018 2029
 2044 2066 2072 2122 2145 2156 2165 2170 2181 2208 2214 2256 2263 2266 2269
 2329 2369 2372 2378 2386 2392 2394 2397 2435 2442]

In [77]:
#Create new dataframe for those 100

d_t_100 = d_trans_data.loc[d_trans_data["household_key"].isin(rand_user_values_d_sort)]

d_t_100_sorted = d_t_100.sort_values("household_key")
d_t_100_sorted

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
1906448,13,36029981537,543,922651,1,2.50,323,-0.69,1314,78,0.00,0.00
1157472,13,32204412962,355,1048068,1,2.68,323,0.00,1900,51,0.00,0.00
1157473,13,32204412962,355,1068719,2,3.98,323,0.00,1900,51,0.00,0.00
1157474,13,32204412962,355,1070497,1,3.27,323,0.00,1900,51,0.00,0.00
1157475,13,32204412962,355,1074405,4,2.36,323,0.00,1900,51,0.00,0.00
1157476,13,32204412962,355,1080331,4,1.56,323,0.00,1900,51,0.00,0.00
1157477,13,32204412962,355,1106445,1,4.00,323,-0.67,1900,51,-0.50,-0.50
1157478,13,32204412962,355,1110559,1,2.50,323,-0.89,1900,51,-1.00,0.00
1157479,13,32204412962,355,1117539,1,1.99,323,0.00,1900,51,0.00,0.00
1157471,13,32204412962,355,1047686,1,2.44,323,0.00,1900,51,-0.25,-0.25
1157480,13,32204412962,355,1121384,1,3.19,323,-0.80,1900,51,0.00,0.00
1157482,13,32204412962,355,1135768,4,4.00,323,-1.16,1900,51,0.00,0.00
1157483,13,32204412962,355,5978648,0,0.00,323,0.00,1900,51,0.00,0.00
1157484,13,32204412962,355,7433888,1,1.00,323,-0.49,1900,51,0.00,0.00
1157485,13,32204412962,355,10150311,1,1.59,323,0.00,1900,51,0.00,0.00
1378130,13,33065462214,412,998189,1,3.00,323,-0.29,1714,60,0.00,0.00
1378129,13,33065462214,412,951593,2,3.98,323,0.00,1714,60,0.00,0.00
1378128,13,33065462214,412,910032,2,4.00,323,-2.58,1714,60,0.00,0.00
189053,13,28282413676,108,10308337,2,15.98,323,-4.00,1809,16,-2.50,0.00
1157481,13,32204412962,355,1132771,1,1.10,323,-0.22,1900,51,0.00,0.00
1157470,13,32204412962,355,1043751,1,1.55,323,0.00,1900,51,0.00,0.00
1157469,13,32204412962,355,1039589,1,1.00,323,0.00,1900,51,0.00,0.00
1157468,13,32204412962,355,1031906,1,1.29,323,0.00,1900,51,0.00,0.00
429220,13,29273120444,171,829197,3,11.97,323,0.00,908,25,0.00,0.00
1956178,13,40128513681,556,1010652,1,5.49,323,0.00,1902,80,0.00,0.00
1956179,13,40128513681,556,1016709,1,2.39,323,0.00,1902,80,0.00,0.00
1395360,13,33118515941,415,6534178,15464,40.96,323,-2.32,1229,60,0.00,0.00
1956180,13,40128513681,556,1017718,1,10.14,323,-0.75,1902,80,0.00,0.00
1956181,13,40128513681,556,1020962,1,2.50,323,-0.69,1902,80,0.00,0.00
1956182,13,40128513681,556,1027168,1,2.50,323,-0.99,1902,80,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
846794,2442,31134951576,279,940947,1,2.99,370,0.00,1354,41,0.00,0.00
846795,2442,31134951576,279,12810391,1,14.32,370,-17.60,1354,41,0.00,0.00
2468739,2442,41891689662,681,9859112,2,3.18,370,-0.80,2120,98,0.00,0.00
2468738,2442,41891689662,681,7110357,2,6.99,370,-6.99,2120,98,0.00,0.00
808119,2442,31008099213,269,822965,1,1.00,370,-0.69,1942,39,0.00,0.00
1843583,2442,35638838566,527,13115626,3,3.00,370,-1.77,1736,76,0.00,0.00
808120,2442,31008099213,269,847025,1,1.00,370,-0.69,1942,39,0.00,0.00
808121,2442,31008099213,269,867592,2,7.98,370,0.00,1942,39,0.00,0.00
808122,2442,31008099213,269,1066069,1,1.00,370,-0.69,1942,39,0.00,0.00
808123,2442,31008099213,269,1129421,1,1.00,370,-0.69,1942,39,0.00,0.00
808124,2442,31008099213,269,9677931,1,2.00,370,-0.19,1942,39,0.00,0.00
2139720,2442,40715534379,601,849843,3,3.00,370,-0.87,2225,87,0.00,0.00
2516472,2442,42031075474,691,827194,2,2.00,370,-4.98,1001,99,0.00,0.00
2516473,2442,42031075474,691,955854,3,3.00,370,-7.47,1001,99,0.00,0.00
856776,2442,31172965252,282,12188362,1,0.94,370,0.00,852,41,0.00,0.00
905733,2442,31344088258,293,12188045,1,1.34,370,0.00,1834,43,0.00,0.00
856775,2442,31172965252,282,7442180,1,3.00,370,-1.79,852,41,0.00,0.00
856774,2442,31172965252,282,6464147,1,3.00,370,-1.79,852,41,0.00,0.00
856773,2442,31172965252,282,1004747,1,1.39,370,0.00,852,41,0.00,0.00
856772,2442,31172965252,282,988791,1,1.50,370,-1.29,852,41,0.00,0.00
2159006,2442,40765841573,606,5580793,1,1.09,370,0.00,1150,87,0.00,0.00
1900960,2442,36027950825,540,12777679,1,2.99,370,0.00,1118,78,0.00,0.00
1900958,2442,36027950825,540,8090756,1,1.50,370,-0.79,1118,78,0.00,0.00
856771,2442,31172965252,282,949469,2,1.38,370,0.00,852,41,0.00,0.00
856770,2442,31172965252,282,868888,1,2.50,370,-1.09,852,41,0.00,0.00
856769,2442,31172965252,282,849843,1,1.00,370,-0.29,852,41,0.00,0.00
856768,2442,31172965252,282,836258,1,1.39,370,0.00,852,41,0.00,0.00
2139721,2442,40715534379,601,1126899,2,4.78,370,0.00,2225,87,0.00,0.00
1900959,2442,36027950825,540,8288843,1,2.29,370,0.00,1118,78,0.00,0.00
2509518,2442,42009624533,690,991435,1,1.00,370,-0.49,2004,99,0.00,0.00

In [64]:
#The order frequency by week:
week_incidence = d_t_100_sorted.WEEK_NO.value_counts()
week_incidence.sort_index()

1        54
2       258
3       358
4       363
5       343
6       554
7       550
8       560
9       655
10      876
11      974
12     1083
13      719
14     1100
15      818
16     1330
17     1207
18     1058
19     1075
20     1162
21     1108
22      997
23      920
24     1103
25     1302
26      817
27     1147
28      884
29     1114
30      745
       ...
73      976
74     1156
75      960
76     1062
77     1385
78     1095
79     1227
80     1003
81     1126
82     1145
83      971
84     1114
85     1251
86     1044
87     1120
88     1081
89     1251
90     1160
91     1041
92     1040
93      961
94     1361
95      953
96     1296
97      912
98     1354
99     1308
100     984
101     976
102     704
Name: WEEK_NO, dtype: int64

In [65]:
full_weeks = range(27)
week_clip = list(full_weeks[1:])
print(week_clip)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [66]:
#Cut for only the first 26 weeks
d_t_100_26w = d_t_100_sorted.loc[d_t_100_sorted["WEEK_NO"].isin(week_clip)]
d_t_100_26w

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
189053,13,28282413676,108,10308337,2,15.98,323,-4.00,1809,16,-2.50,0.00
429220,13,29273120444,171,829197,3,11.97,323,0.00,908,25,0.00,0.00
458255,13,29353251079,179,848154,2,2.00,323,-0.38,1104,26,0.00,0.00
458254,13,29353251079,179,828055,1,2.04,323,-0.60,1104,26,-0.25,-0.25
458248,13,29353251040,179,924596,1,6.99,323,-0.68,1059,26,0.00,0.00
189052,13,28282413676,108,7467039,1,2.99,323,-1.00,1809,16,0.00,0.00
429221,13,29273120444,171,840361,2,1.76,323,-1.02,908,25,0.00,0.00
189051,13,28282413676,108,7410344,1,1.67,323,-0.82,1809,16,0.00,0.00
189049,13,28282413676,108,1133018,3,3.00,323,-2.97,1809,16,0.00,0.00
189033,13,28282413676,108,826249,2,1.98,323,0.00,1809,16,0.00,0.00
189048,13,28282413676,108,1122413,1,1.50,323,-0.29,1809,16,0.00,0.00
189047,13,28282413676,108,1096343,4,4.00,323,-0.76,1809,16,0.00,0.00
189046,13,28282413676,108,1070105,2,3.98,323,-1.20,1809,16,0.00,0.00
189045,13,28282413676,108,1058997,2,2.00,323,-1.98,1809,16,0.00,0.00
189044,13,28282413676,108,1018789,1,3.29,323,0.00,1809,16,0.00,0.00
189043,13,28282413676,108,1004906,1,1.99,323,0.00,1809,16,0.00,0.00
189042,13,28282413676,108,974993,2,0.80,323,0.00,1809,16,0.00,0.00
189041,13,28282413676,108,966449,2,0.80,323,0.00,1809,16,0.00,0.00
189040,13,28282413676,108,955533,1,0.40,323,0.00,1809,16,0.00,0.00
189039,13,28282413676,108,902167,2,2.00,323,-0.38,1809,16,0.00,0.00
189038,13,28282413676,108,893802,2,1.58,323,0.00,1809,16,0.00,0.00
189037,13,28282413676,108,888117,2,0.80,323,0.00,1809,16,0.00,0.00
189036,13,28282413676,108,876232,2,6.13,323,0.00,1809,16,-0.55,-0.45
189035,13,28282413676,108,860490,2,15.98,323,-4.00,1809,16,-3.00,0.00
189034,13,28282413676,108,848154,3,3.00,323,-0.57,1809,16,0.00,0.00
189050,13,28282413676,108,5978656,0,0.00,323,0.00,1809,16,-1.00,0.00
458267,13,29353251079,179,1126899,1,2.59,323,0.00,1104,26,0.00,0.00
458266,13,29353251079,179,1089021,1,1.67,323,-1.12,1104,26,0.00,0.00
458265,13,29353251079,179,1085201,1,1.99,323,-0.20,1104,26,0.00,0.00
458264,13,29353251079,179,1075293,1,6.99,323,-2.30,1104,26,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
144930,2435,28110956635,95,1105623,2,2.00,341,-0.98,1515,14,0.00,0.00
144931,2435,28110956635,95,1111230,2,0.78,341,-0.20,1515,14,0.00,0.00
144932,2435,28110956635,95,1122568,1,2.00,341,-0.33,1515,14,0.00,0.00
144933,2435,28110956635,95,1129421,2,2.00,341,-1.18,1515,14,0.00,0.00
144934,2435,28110956635,95,1131310,2,2.00,341,-0.78,1515,14,0.00,0.00
144935,2435,28110956635,95,1131550,3,3.00,341,-2.37,1515,14,0.00,0.00
144936,2435,28110956635,95,5568844,1,0.99,341,-0.20,1515,14,0.00,0.00
144926,2435,28110956635,95,1069621,2,3.42,341,0.00,1515,14,0.00,0.00
144915,2435,28110956635,95,1004909,1,1.00,341,-0.79,1515,14,0.00,0.00
144914,2435,28110956635,95,995242,7,7.00,341,-4.83,1515,14,0.00,0.00
183788,2442,28257932033,106,7442056,1,2.88,370,-1.91,1507,16,0.00,0.00
183787,2442,28257932033,106,997083,1,2.89,370,-0.80,1507,16,0.00,0.00
183786,2442,28257932033,106,968072,1,9.51,370,0.00,1507,16,0.00,0.00
180329,2442,28243872795,105,1035600,1,3.49,370,0.00,1701,16,0.00,0.00
98374,2442,27913203268,78,5569845,1,2.50,370,-2.19,1804,12,0.00,0.00
98373,2442,27913203268,78,5569230,1,2.50,370,-2.19,1804,12,0.00,0.00
98372,2442,27913203268,78,5568489,1,2.50,370,-2.19,1804,12,0.00,0.00
98371,2442,27913203268,78,5566307,1,2.50,370,-2.19,1804,12,0.00,0.00
98370,2442,27913203268,78,1098066,1,0.99,370,0.00,1804,12,0.00,0.00
98369,2442,27913203268,78,861899,2,6.00,370,-0.58,1804,12,0.00,0.00
264312,2442,28601741648,128,822370,1,5.79,370,0.00,1605,19,0.00,0.00
264313,2442,28601741648,128,847573,2,11.65,370,-2.92,1605,19,0.00,0.00
264315,2442,28601741648,128,1020581,2,6.24,370,-6.20,1605,19,0.00,0.00
264316,2442,28601741648,128,10285423,1,2.50,370,-0.49,1605,19,0.00,0.00
264317,2442,28601741648,128,10312037,3,3.00,370,0.00,1605,19,0.00,0.00
264314,2442,28601741648,128,855314,1,3.39,370,0.00,1605,19,0.00,0.00
180325,2442,28243872795,105,874972,1,7.55,370,-1.26,1701,16,0.00,0.00
180326,2442,28243872795,105,936742,5,5.00,370,-2.45,1701,16,0.00,0.00
180327,2442,28243872795,105,995242,3,3.00,370,-2.07,1701,16,0.00,0.00
180328,2442,28243872795,105,998239,2,10.52,370,-1.70,1701,16,0.00,0.00

In [68]:
#Sort Products Dataframe By Product_ID

d_p_s = d_prod_data.sort_values("PRODUCT_ID")
d_p_s.shape

(92353, 7)

In [70]:
d_p_s.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [12]:
#Create New Dataset by merging Transaction and Product by index of Product_ID

total_d_set = pd.merge(d_t_100_26w, d_p_s, on="PRODUCT_ID")

In [13]:
total_d_set.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,13,28282413676,108,10308337,2,15.98,323,-4.00,1809,16,-2.5,0.0,764,DRUG GM,National,DIAPERS & DISPOSABLES,BABY DIAPERS,30 CT
1,13,29095126030,160,10308337,3,28.47,323,-3.30,1123,24,0.0,0.0,764,DRUG GM,National,DIAPERS & DISPOSABLES,BABY DIAPERS,30 CT
2,2372,29094422540,159,10308337,1,9.49,31742,-1.10,1841,23,0.0,0.0,764,DRUG GM,National,DIAPERS & DISPOSABLES,BABY DIAPERS,30 CT
3,13,29273120444,171,829197,3,11.97,323,0.00,908,25,0.0,0.0,1208,GROCERY,National,ISOTONIC DRINKS,ISOTONIC DRINKS SINGLE SERVE,6PK/20 OZ
4,13,29033980118,155,829197,1,3.50,323,-0.49,644,23,0.0,0.0,1208,GROCERY,National,ISOTONIC DRINKS,ISOTONIC DRINKS SINGLE SERVE,6PK/20 OZ

In [14]:
d_prod_data.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [15]:
total_d_set.DEPARTMENT.value_counts()

GROCERY            13183
DRUG GM             2420
PRODUCE             2252
MEAT-PCKGD           951
MEAT                 784
DELI                 545
PASTRY               397
NUTRITION            251
KIOSK-GAS            141
SALAD BAR             77
MISC SALES TRAN       69
SEAFOOD-PCKGD         67
                      56
COSMETICS             53
SEAFOOD               30
FLORAL                26
SPIRITS               11
GARDEN CENTER         11
MISC. TRANS.           9
COUP/STR & MFG         4
CHEF SHOPPE            4
TRAVEL & LEISUR        2
AUTOMOTIVE             1
Name: DEPARTMENT, dtype: int64

In [45]:
#Only keep these categories:
#[2483,887,322,484,756,2306,1059,275,560,306,925,1737,2276,1117,2051,1666,2057, 
#1539,728,1752,1627,541,1424,1634,2211,645,2048,714,2404,230,1134,2016,2469,1189,622,1121,2223,1028,
#476,1181,336,968,1744,718,2076,1239,1195,2460,1709,1954,1687,2008,2041,685,1332,1915,174,1193,983,
#1720,246,845,1400,437,2370,2216,1449,2495,1388,464,1139,2012,643,118,1005,2403,537,2081,179,1586,2052,
#1247,357,254,1580,486,924,619,1123,975,1792,1805,1873,1384,192,2027,1814,1923,1416,327]

exclude = ['AUTOMOTIVE', 'CHARITABLE CONT', 'CNTRL/STORE SUP', 'COSMETICS', 'COUP/STR & MFG', 'DRUG GM', 'FLORAL','ELECT &PLUMBING', 'HBC', 'HOUSEWARES', 'GARDEN CENTER', 'GM MERCH EXP', 'KIOSK-GAS', 'MEAT-WHSE', 'MISC SALES TRAN', 'MISC. TRANS.', 'PHARMACY SUPPLY','PHOTO', 'TOYS', 'TRAVEL & LEISUR', 'VIDEO', 'VIDEO RENTAL', 'RESTAURANT']
almost_final_d_set = total_d_set.loc[~total_d_set["DEPARTMENT"].isin(exclude)]
almost_final_d_set.DEPARTMENT.value_counts()

GROCERY          13183
PRODUCE           2252
MEAT-PCKGD         951
MEAT               784
DELI               545
PASTRY             397
NUTRITION          251
SALAD BAR           77
SEAFOOD-PCKGD       67
                    56
SEAFOOD             30
SPIRITS             11
CHEF SHOPPE          4
Name: DEPARTMENT, dtype: int64

In [49]:
#Check for Blanks:
blanks = np.where(pd.isnull(final_d_set))
print(blanks[0])

[]

In [50]:
#Ok, there are two blanks for products: 

exclude_prod = [5978656, 5978648]

clean_final_d_set = final_d_set.loc[~final_d_set["PRODUCT_ID"].isin(exclude_prod)]

In [51]:
clean_final_d_set.shape

(18552, 18)

In [21]:
# Output to a new CSV

clean_final_d_set.to_csv("clean_final_d_set.csv")

In [22]:
#Testing Reading in Dunnhummby Data:

test_d_read = pd.read_csv("clean_final_d_set.csv", encoding='latin1')
test_d_read.head()

,Unnamed: 0,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,3,13,29273120444,171,829197,3,11.97,323,0.00,908,25,0.00,0.00,1208,GROCERY,National,ISOTONIC DRINKS,ISOTONIC DRINKS SINGLE SERVE,6PK/20 OZ
1,4,13,29033980118,155,829197,1,3.50,323,-0.49,644,23,0.00,0.00,1208,GROCERY,National,ISOTONIC DRINKS,ISOTONIC DRINKS SINGLE SERVE,6PK/20 OZ
2,5,13,29353251079,179,848154,2,2.00,323,-0.38,1104,26,0.00,0.00,69,GROCERY,Private,FRZN VEGETABLE/VEG DSH,FRZN BAGGED VEGETABLES - PLAIN,16 OZ
3,6,13,28282413676,108,848154,3,3.00,323,-0.57,1809,16,0.00,0.00,69,GROCERY,Private,FRZN VEGETABLE/VEG DSH,FRZN BAGGED VEGETABLES - PLAIN,16 OZ
4,7,13,29353251079,179,828055,1,2.04,323,-0.60,1104,26,-0.25,-0.25,720,GROCERY,National,DISHWASH DETERGENTS,LIQUID DISH DETERGENT,25 OZ

In [23]:
#Check for Blanks:
blanks = np.where(pd.isnull(test_d_read))

## Instacart

In [24]:
#Import products Dataset
i_products_data = pd.read_csv("Data/instacart/products.csv", encoding = 'utf8')
#print(i_products_data.apply(lambda x: pd.lib.infer_dtype(x.values)))

#Import Prior Products (Transactions 1) Dataset
i_trans_t_data = pd.read_csv("Data/instacart/order_products__train.csv", encoding = 'utf8')
#print(i_trans_data.apply(lambda x: pd.lib.infer_dtype(x.values)))

#Import Training Products (Transacitons 2) Dataset
i_trans_p_data = pd.read_csv("Data/instacart/order_products__prior.csv", encoding = 'utf8')
#print(i_trans_data.apply(lambda x: pd.lib.infer_dtype(x.values)))

#Import Order Dataset
i_order_data = pd.read_csv("Data/instacart/orders.csv", encoding = 'utf8')
#print(i_order_data.apply(lambda x: pd.lib.infer_dtype(x.values)))

#Import Aisle Names
i_aisle_data = pd.read_csv("Data/instacart/aisles.csv", encoding = 'utf8')
#print(i_order_data.apply(lambda x: pd.lib.infer_dtype(x.values)))

In [25]:
#Merge Prior and Training Products Dataset

i_trans_data = pd.concat([i_trans_t_data, i_trans_p_data])

In [26]:
i_order_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [27]:
i_trans_data.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [28]:
#Add trans data to order data

trans_order_data = pd.merge(i_order_data, i_trans_data, on="order_id")
trans_order_data

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0
5,2398795,1,prior,2,3,7,15.0,196,1,1
6,2398795,1,prior,2,3,7,15.0,10258,2,0
7,2398795,1,prior,2,3,7,15.0,12427,3,1
8,2398795,1,prior,2,3,7,15.0,13176,4,0
9,2398795,1,prior,2,3,7,15.0,26088,5,1
10,2398795,1,prior,2,3,7,15.0,13032,6,0
11,473747,1,prior,3,3,12,21.0,196,1,1
12,473747,1,prior,3,3,12,21.0,12427,2,1
13,473747,1,prior,3,3,12,21.0,10258,3,1
14,473747,1,prior,3,3,12,21.0,25133,4,0
15,473747,1,prior,3,3,12,21.0,30450,5,0
16,2254736,1,prior,4,4,7,29.0,196,1,1
17,2254736,1,prior,4,4,7,29.0,12427,2,1
18,2254736,1,prior,4,4,7,29.0,10258,3,1
19,2254736,1,prior,4,4,7,29.0,25133,4,1
20,2254736,1,prior,4,4,7,29.0,26405,5,1
21,431534,1,prior,5,4,15,28.0,196,1,1
22,431534,1,prior,5,4,15,28.0,12427,2,1
23,431534,1,prior,5,4,15,28.0,10258,3,1
24,431534,1,prior,5,4,15,28.0,25133,4,1
25,431534,1,prior,5,4,15,28.0,10326,5,0
26,431534,1,prior,5,4,15,28.0,17122,6,0
27,431534,1,prior,5,4,15,28.0,41787,7,0
28,431534,1,prior,5,4,15,28.0,13176,8,1
29,3367565,1,prior,6,2,7,19.0,196,1,1
...,...,...,...,...,...,...,...,...,...,...
33819076,626363,206209,prior,12,1,12,18.0,26209,8,0
33819077,626363,206209,prior,12,1,12,18.0,33129,9,1
33819078,626363,206209,prior,12,1,12,18.0,43961,10,1
33819079,626363,206209,prior,12,1,12,18.0,23800,11,1
33819080,626363,206209,prior,12,1,12,18.0,13838,12,1
33819081,626363,206209,prior,12,1,12,18.0,48742,13,1
33819082,626363,206209,prior,12,1,12,18.0,23594,14,1
33819083,626363,206209,prior,12,1,12,18.0,20590,15,0
33819084,626363,206209,prior,12,1,12,18.0,16168,16,0
33819085,626363,206209,prior,12,1,12,18.0,33351,17,0
33819086,626363,206209,prior,12,1,12,18.0,5622,18,0
33819087,626363,206209,prior,12,1,12,18.0,23039,19,1
33819088,626363,206209,prior,12,1,12,18.0,14727,20,0
33819089,2977660,206209,prior,13,1,12,7.0,24852,1,1
33819090,2977660,206209,prior,13,1,12,7.0,9405,2,1
33819091,2977660,206209,prior,13,1,12,7.0,16168,3,1
33819092,2977660,206209,prior,13,1,12,7.0,39216,4,0
33819093,2977660,206209,prior,13,1,12,7.0,14197,5,1
33819094,2977660,206209,prior,13,1,12,7.0,38730,6,0
33819095,2977660,206209,prior,13,1,12,7.0,31477,7,0
33819096,2977660,206209,prior,13,1,12,7.0,6567,8,0
33819097,2977660,206209,prior,13,1,12,7.0,22920,9,0
33819098,272231,206209,train,14,6,14,30.0,6846,1,1
33819099,272231,206209,train,14,6,14,30.0,9405,2,1
33819100,272231,206209,train,14,6,14,30.0,24852,3,1
33819101,272231,206209,train,14,6,14,30.0,40603,4,0
33819102,272231,206209,train,14,6,14,30.0,15655,5,0
33819103,272231,206209,train,14,6,14,30.0,42606,6,0
33819104,272231,206209,train,14,6,14,30.0,37966,7,0
33819105,272231,206209,train,14,6,14,30.0,39216,8,1

In [29]:
#Take a random sample of 100 users:
user_values = i_order_data.user_id.values
clean_user_values = np.unique(user_values)
clean_user_values

array([     1,      2,      3, ..., 206207, 206208, 206209], dtype=int64)

In [30]:
#Take random sample of 100 users
np.random.seed(161803399)
rand_user_values = np.random.choice(clean_user_values, 100)

rand_user_values_sort = np.sort(rand_user_values)
print(rand_user_values_sort)

[  3214   5404   6277   7350  11151  13396  13404  14685  15244  16160
  16464  17371  17749  18352  20996  21945  22250  22874  26418  28922
  31442  31702  32283  32499  38528  38785  42227  42668  48015  50090
  51157  52407  54891  55320  59607  61927  62881  63709  64967  65082
  69458  70046  70611  74332  76955  80816  80893  82954  83536  84176
  85357  85517  90036  90871  91949  92490  92615  92795  96114  96353
  98814 102413 106314 109948 112149 112748 114297 114871 118573 119019
 121887 128736 131577 131625 133961 137186 138934 139419 139591 144265
 146350 152098 153618 153994 154375 157257 158040 163063 167832 171560
 174404 174418 183600 185144 188854 192566 197080 199630 201188 205854]

In [31]:
#Create a new dataframe for those 100

i_to_100 = trans_order_data.loc[trans_order_data["user_id"].isin(rand_user_values_sort)]
i_to_sorted = i_to_100.sort_values("user_id")
i_to_sorted

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
501910,1959414,3214,prior,1,2,11,NaN,2994,1,0
502011,2808469,3214,prior,9,3,15,30.0,99,9,1
502010,2808469,3214,prior,9,3,15,30.0,16882,8,1
502009,2808469,3214,prior,9,3,15,30.0,22035,7,1
502008,2808469,3214,prior,9,3,15,30.0,18234,6,1
502007,2808469,3214,prior,9,3,15,30.0,15290,5,1
502006,2808469,3214,prior,9,3,15,30.0,12357,4,0
502005,2808469,3214,prior,9,3,15,30.0,47626,3,1
502004,2808469,3214,prior,9,3,15,30.0,38383,2,0
502003,2808469,3214,prior,9,3,15,30.0,11520,1,1
502002,1032273,3214,prior,8,2,11,22.0,25890,14,1
502001,1032273,3214,prior,8,2,11,22.0,16882,13,0
502000,1032273,3214,prior,8,2,11,22.0,18761,12,1
501999,1032273,3214,prior,8,2,11,22.0,24382,11,0
501998,1032273,3214,prior,8,2,11,22.0,15290,10,0
501997,1032273,3214,prior,8,2,11,22.0,21938,9,0
501996,1032273,3214,prior,8,2,11,22.0,28985,8,1
501995,1032273,3214,prior,8,2,11,22.0,1468,7,1
501981,3344075,3214,prior,7,1,10,28.0,15421,4,1
501982,3344075,3214,prior,7,1,10,28.0,8424,5,1
501983,3344075,3214,prior,7,1,10,28.0,18234,6,1
501984,3344075,3214,prior,7,1,10,28.0,41690,7,1
501985,3344075,3214,prior,7,1,10,28.0,49235,8,0
501986,3344075,3214,prior,7,1,10,28.0,14891,9,0
502012,2808469,3214,prior,9,3,15,30.0,49095,10,0
501987,3344075,3214,prior,7,1,10,28.0,23368,10,0
501989,1032273,3214,prior,8,2,11,22.0,31506,1,0
501990,1032273,3214,prior,8,2,11,22.0,23219,2,0
501991,1032273,3214,prior,8,2,11,22.0,6567,3,0
501992,1032273,3214,prior,8,2,11,22.0,22035,4,1
...,...,...,...,...,...,...,...,...,...,...
33765038,1745396,205854,train,4,0,16,30.0,6399,20,0
33765027,1745396,205854,train,4,0,16,30.0,22935,9,0
33765014,1983987,205854,prior,3,1,15,30.0,5456,22,0
33765009,1983987,205854,prior,3,1,15,30.0,12916,17,0
33765012,1983987,205854,prior,3,1,15,30.0,36724,20,0
33765039,1745396,205854,train,4,0,16,30.0,27363,21,0
33764989,3219115,205854,prior,1,0,12,NaN,22035,1,0
33764990,3219115,205854,prior,1,0,12,NaN,13517,2,0
33764991,3254618,205854,prior,2,6,14,20.0,22035,1,1
33764992,3254618,205854,prior,2,6,14,20.0,13517,2,1
33764993,1983987,205854,prior,3,1,15,30.0,22035,1,1
33764994,1983987,205854,prior,3,1,15,30.0,10132,2,0
33764995,1983987,205854,prior,3,1,15,30.0,4421,3,0
33764996,1983987,205854,prior,3,1,15,30.0,27845,4,0
33764997,1983987,205854,prior,3,1,15,30.0,27966,5,0
33764998,1983987,205854,prior,3,1,15,30.0,49131,6,0
33764999,1983987,205854,prior,3,1,15,30.0,5337,7,0
33765000,1983987,205854,prior,3,1,15,30.0,47912,8,0
33765001,1983987,205854,prior,3,1,15,30.0,45007,9,0
33765002,1983987,205854,prior,3,1,15,30.0,44765,10,0
33765003,1983987,205854,prior,3,1,15,30.0,45106,11,0
33765004,1983987,205854,prior,3,1,15,30.0,37646,12,0
33765005,1983987,205854,prior,3,1,15,30.0,19190,13,0
33765006,1983987,205854,prior,3,1,15,30.0,41065,14,0
33765007,1983987,205854,prior,3,1,15,30.0,33489,15,0
33765008,1983987,205854,prior,3,1,15,30.0,22825,16,0
33765010,1983987,205854,prior,3,1,15,30.0,13076,18,0
33765011,1983987,205854,prior,3,1,15,30.0,17592,19,0
33765013,1983987,205854,prior,3,1,15,30.0,13517,21,1
33765040,1745396,205854,train,4,0,16,30.0,17619,22,0

In [32]:
i_to_sorted.shape

(14353, 10)

In [33]:
#Create New Dataset by merging Transaction/Order and Product by index of Product_ID

top_i_set = pd.merge(i_to_sorted, i_products_data, on="product_id")
top_i_set

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,1959414,3214,prior,1,2,11,NaN,2994,1,0,"Sushi Nori, Pacific, Organic",66,6
1,1266616,114871,prior,5,0,13,7.0,2994,11,0,"Sushi Nori, Pacific, Organic",66,6
2,2808469,3214,prior,9,3,15,30.0,99,9,1,Local Living Butter Lettuce,83,4
3,556064,3214,prior,2,3,13,22.0,99,5,0,Local Living Butter Lettuce,83,4
4,2808469,3214,prior,9,3,15,30.0,16882,8,1,Baby Spring Mix,123,4
5,1032273,3214,prior,8,2,11,22.0,16882,13,0,Baby Spring Mix,123,4
6,3420673,21945,prior,12,0,15,14.0,16882,24,0,Baby Spring Mix,123,4
7,832321,92615,prior,2,3,16,30.0,16882,2,0,Baby Spring Mix,123,4
8,2808469,3214,prior,9,3,15,30.0,22035,7,1,Organic Whole String Cheese,21,16
9,1032273,3214,prior,8,2,11,22.0,22035,4,1,Organic Whole String Cheese,21,16
10,3166823,3214,prior,3,2,18,20.0,22035,13,0,Organic Whole String Cheese,21,16
11,3321918,21945,prior,27,0,11,3.0,22035,3,1,Organic Whole String Cheese,21,16
12,2791663,21945,prior,20,1,19,23.0,22035,4,1,Organic Whole String Cheese,21,16
13,2554191,21945,prior,6,6,16,16.0,22035,1,0,Organic Whole String Cheese,21,16
14,355328,22250,prior,24,5,19,7.0,22035,7,1,Organic Whole String Cheese,21,16
15,989392,22250,prior,23,5,2,8.0,22035,6,1,Organic Whole String Cheese,21,16
16,2117100,22250,prior,27,5,13,11.0,22035,2,1,Organic Whole String Cheese,21,16
17,282017,22250,prior,25,3,16,5.0,22035,1,1,Organic Whole String Cheese,21,16
18,3089493,22250,prior,20,3,19,9.0,22035,5,1,Organic Whole String Cheese,21,16
19,2704571,22250,prior,19,1,12,6.0,22035,4,1,Organic Whole String Cheese,21,16
20,1973293,22250,prior,18,2,11,5.0,22035,8,1,Organic Whole String Cheese,21,16
21,1166058,22250,prior,22,4,10,11.0,22035,8,1,Organic Whole String Cheese,21,16
22,1597259,22250,prior,7,6,22,10.0,22035,8,1,Organic Whole String Cheese,21,16
23,2449332,22250,prior,9,1,18,13.0,22035,9,1,Organic Whole String Cheese,21,16
24,2383967,22250,prior,5,6,23,18.0,22035,15,1,Organic Whole String Cheese,21,16
25,812066,22250,prior,3,6,14,10.0,22035,16,0,Organic Whole String Cheese,21,16
26,1352295,22250,prior,15,2,13,5.0,22035,6,1,Organic Whole String Cheese,21,16
27,41139,22250,prior,14,4,11,16.0,22035,7,1,Organic Whole String Cheese,21,16
28,3260363,22250,prior,17,4,10,9.0,22035,16,1,Organic Whole String Cheese,21,16
29,2978932,22250,prior,16,2,9,7.0,22035,15,1,Organic Whole String Cheese,21,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14323,1284418,199630,prior,1,2,12,NaN,47402,2,0,Fuji Apples,24,4
14324,2452550,199630,prior,2,0,8,12.0,46516,2,0,Sesame Bagels,93,3
14325,3315612,199630,prior,13,6,12,9.0,5388,11,0,Country French Bread,112,3
14326,3315612,199630,prior,13,6,12,9.0,14032,12,0,Tortilla Chips,107,19
14327,2560567,201188,prior,4,5,17,30.0,8415,3,0,Flex Wand Lighter,87,17
14328,704382,201188,train,5,6,12,30.0,12538,2,0,Chicken Parmigiana & Penne,38,1
14329,704382,201188,train,5,6,12,30.0,30387,3,1,Chicken Alfredo & Penne Classic Meal for 2,38,1
14330,2560567,201188,prior,4,5,17,30.0,30387,2,1,Chicken Alfredo & Penne Classic Meal for 2,38,1
14331,3303707,201188,prior,1,6,16,NaN,30387,4,0,Chicken Alfredo & Penne Classic Meal for 2,38,1
14332,1872908,201188,prior,3,5,22,26.0,30387,4,1,Chicken Alfredo & Penne Classic Meal for 2,38,1
14333,704382,201188,train,5,6,12,30.0,18325,6,0,Classic Meal For 2 Chicken Alla Vodka & Farfalle,38,1
14334,1872908,201188,prior,3,5,22,26.0,2422,5,1,Classic Meal For 2 Shrimp Scampi & Linguine,38,1
14335,3303707,201188,prior,1,6,16,NaN,2422,5,0,Classic Meal For 2 Shrimp Scampi & Linguine,38,1
14336,1872908,201188,prior,3,5,22,26.0,34940,2,0,Chicken Flavor Top Ramen Noodles,66,6
14337,1872908,201188,prior,3,5,22,26.0,13287,1,1,Bistro Bowl Chicken Caesar Salad,123,4
14338,2462485,201188,prior,2,0,12,1.0,13287,1,1,Bistro Bowl Chicken Caesar Salad,123,4
14339,3303707,201188,prior,1,6,16,NaN,13287,1,0,Bistro Bowl Chicken Caesar Salad,123,4
14340,3303707,201188,prior,1,6,16,NaN,12824,2,0,Click Regular Compact Tampons,126,11
14341,1745396,205854,train,4,0,16,30.0,45106,7,1,Low Fat Strawberry Yogurt Tubes,120,16
14342,1983987,205854,prior,3,1,15,30.0,45106,11,0,Low Fat Strawberry Yogurt Tubes,120,16
14343,1745396,205854,train,4,0,16,30.0,33489,8,1,Organic Peppermint Tea,94,7
14344,1983987,205854,prior,3,1,15,30.0,33489,15,0,Organic Peppermint Tea,94,7
14345,1745396,205854,train,4,0,16,30.0,4022,13,0,Italian Peeled Tomatoes,81,15
14346,1745396,205854,train,4,0,16,30.0,16711,14,0,Ethiopia Guji Organic Whole Bean Coffee,26,7
14347,1745396,205854,train,4,0,16,30.0,34190,17,0,Organic Coconut Cream,66,6
14348,1745396,205854,train,4,0,16,30.0,6399,20,0,Sliced Bamboo Shoots,66,6
14349,1745396,205854,train,4,0,16,30.0,27363,21,0,Green Curry Paste,66,6
14350,1983987,205854,prior,3,1,15,30.0,47912,8,0,Vanilla Skyr Style Yogurt,120,16
14351,1983987,205854,prior,3,1,15,30.0,19190,13,0,Curved Panty Liners,126,11
14352,1983987,205854,prior,3,1,15,30.0,13076,18,0,Crimini Delight Mushrooms,123,4

In [34]:
#Now merge with aisle data:

final_i_set = pd.merge(top_i_set, i_aisle_data, on="aisle_id")

In [35]:
final_i_set.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle
0,1959414,3214,prior,1,2,11,NaN,2994,1,0,"Sushi Nori, Pacific, Organic",66,6,asian foods
1,1266616,114871,prior,5,0,13,7.0,2994,11,0,"Sushi Nori, Pacific, Organic",66,6,asian foods
2,3166823,3214,prior,3,2,18,20.0,18977,1,0,Mild Sweet Chili Sauce,66,6,asian foods
3,1959414,3214,prior,1,2,11,NaN,95,11,0,Organic Rice Vinegar,66,6,asian foods
4,1559052,70611,prior,17,5,15,30.0,95,8,0,Organic Rice Vinegar,66,6,asian foods

In [36]:
final_i_set.shape

(14353, 14)

In [37]:
#Check for Blanks:
blanks = np.where(pd.isnull(final_i_set))
print(blanks[0])

[    0     3    13    17    19    44    47    48    50    54    56    57
    58    62   118   137   139   140   165   171   183   194   203   221
   241   247   258   283   322   324   334   340   366   381   387   418
   433   444   445   452   493   561   566   578   590   637   650   665
   668   674   723   767   793   819   827   843   856   904   922   924
   928   944   974   995  1026  1031  1035  1036  1039  1075  1088  1093
  1127  1142  1153  1181  1238  1252  1272  1278  1334  1386  1391  1394
  1481  1525  1526  1531  1539  1566  1570  1582  1603  1653  1674  1682
  1700  1736  1745  1746  1753  1767  1781  1790  1795  1815  1833  1841
  1846  1850  1853  1864  1869  1870  1874  1899  1914  1928  1993  2005
  2029  2044  2052  2065  2072  2079  2087  2110  2125  2139  2162  2171
  2176  2177  2181  2189  2196  2205  2224  2226  2230  2233  2237  2285
  2327  2354  2374  2387  2415  2420  2426  2480  2500  2501  2502  2529
  2549  2553  2556  2559  2569  2570  2599  2611  2626  2654  2667  2668
  2686  2687  2698  2713  2729  2733  2749  2753  2754  2762  2769  2775
  2794  2806  2809  2814  2869  2875  2894  2904  2934  2956  2987  3018
  3071  3095  3132  3142  3148  3155  3156  3158  3168  3174  3180  3181
  3196  3221  3236  3243  3251  3254  3255  3258  3276  3284  3289  3328
  3340  3358  3370  3382  3385  3407  3422  3446  3462  3465  3484  3505
  3509  3526  3557  3611  3635  3647  3661  3665  3673  3674  3680  3701
  3723  3737  3745  3760  3785  3798  3800  3824  3826  3836  3850  3854
  3890  3927  3933  3967  3988  3993  4001  4002  4005  4023  4026  4043
  4057  4095  4121  4132  4167  4175  4205  4238  4246  4256  4259  4281
  4305  4310  4325  4326  4334  4337  4343  4346  4348  4357  4360  4384
  4390  4393  4407  4413  4416  4419  4422  4454  4466  4467  4507  4510
  4518  4564  4570  4600  4639  4647  4650  4673  4678  4711  4713  4716
  4718  4724  4770  4797  4807  4841  4874  4890  4896  4897  4918  4978
  4982  5001  5002  5024  5042  5061  5065  5074  5075  5085  5089  5091
  5092  5104  5109  5114  5121  5149  5164  5202  5211  5218  5242  5246
  5258  5277  5296  5298  5306  5313  5318  5338  5361  5373  5387  5389
  5391  5392  5404  5410  5446  5447  5449  5457  5464  5474  5494  5505
  5521  5543  5546  5548  5585  5596  5610  5613  5619  5622  5624  5626
  5628  5630  5632  5639  5654  5655  5656  5660  5706  5712  5719  5733
  5734  5775  5787  5799  5863  5875  5880  5933  5949  5955  5958  5965
  5982  6004  6007  6028  6048  6060  6105  6110  6111  6125  6128  6131
  6137  6158  6187  6211  6223  6231  6234  6237  6239  6243  6246  6250
  6251  6257  6259  6304  6331  6368  6372  6380  6424  6450  6514  6515
  6534  6536  6539  6564  6568  6578  6600  6602  6633  6637  6654  6668
  6684  6720  6721  6732  6735  6754  6769  6792  6793  6794  6821  6823
  6826  6828  6829  6843  6865  6883  6895  6897  6918  6941  6943  6949
  6954  6968  7001  7028  7044  7052  7054  7064  7089  7097  7134  7171
  7197  7236  7239  7248  7252  7257  7299  7313  7331  7333  7343  7372
  7403  7422  7429  7431  7445  7459  7466  7476  7492  7507  7522  7526
  7545  7547  7551  7556  7563  7582  7599  7603  7622  7623  7626  7628
  7630  7657  7659  7660  7663  7675  7700  7703  7709  7716  7727  7729
  7742  7750  7753  7772  7778  7787  7790  7795  7805  7847  7873  7888
  7890  7894  7903  7934  7950  7957  7971  7985  7992  8016  8030  8038
  8044  8046  8051  8084  8088  8098  8120  8126  8130  8162  8180  8206
  8219  8240  8258  8305  8334  8348  8354  8374  8387  8392  8396  8409
  8453  8458  8501  8517  8519  8522  8531  8535  8537  8564  8568  8570
  8573  8580  8608  8643  8645  8650  8671  8683  8686  8689  8723  8744
  8753  8755  8758  8771  8772  8784  8814  8818  8831  8899  8933  8935
  8969  8978  8982  8984  8986  8988  9038  9057  9085  9087  9088  9102
  9109  9116  9162  9187  9188  9191  9200  9223  9237  9245  9268  9307
  9321  9336  9352  9358  9388  9389  9390  9418  9474  9501  9523  9536
  9605  9613  9622  9624  9646  9700  9707  9720  9751  9765  9790  9804
  9813  9821  9831  9848  9853  9874  9884  9893  9921  9945  9994  9996
 10018 10024 10033 10056 10078 10084 10086 10090 10093 10105 10114 10144
 10237 10238 10243 10284 10348 10359 10369 10373 10393 10426 10440 10477
 10524 10537 10551 10581 10583 10610 10641 10663 10674 10680 10683 10718
 10729 10766 10769 10771 10775 10779 10829 10830 10841 10847 10852 10872
 10884 10893 10901 10904 10906 10949 10960 10976 10981 10999 11025 11032
 11077 11086 11098 11111 11219 11235 11244 11252 11264 11265 11388 11393
 11401 11409 11418 11449 11457 11460 11491 11505 11516 11520 11533 11551
 11577 11582 11589 11610 11614 11628 11639 11670 11699 11706 11731 11734
 11745 11748 11753 11757 11760 11778 11783 11791 11797 11804 11816 11819
 11829 11845 11856 11859 11914 11925 11936 11967 11973 11984 11985 11988
 12023 12034 12041 12048 12054 12068 12084 12096 12106 12124 12137 12156
 12159 12160 12172 12186 12194 12206 12217 12238 12242 12243 12246 12271
 12277 12292 12301 12303 12329 12354 12387 12392 12416 12460 12474 12481
 12499 12504 12519 12564 12578 12620 12653 12692 12707 12711 12713 12721
 12725 12746 12761 12770 12781 12798 12804 12819 12828 12831 12836 12838
 12870 12899 12947 12966 12973 12978 12983 13011 13017 13026 13030 13039
 13051 13055 13057 13059 13070 13074 13109 13118 13121 13123 13141 13145
 13146 13147 13156 13158 13194 13217 13218 13235 13240 13242 13246 13316
 13352 13358 13368 13372 13415 13450 13474 13489 13496 13498 13501 13525
 13541 13549 13552 13588 13602 13603 13606 13611 13623 13638 13664 13669
 13699 13703 13711 13712 13734 13738 13742 13769 13779 13821 13837 13857
 13868 13873 13934 13945 13948 13950 13951 13952 13959 13991 13995 14027
 14058 14079 14105 14176 14177 14181 14183 14214 14235 14244 14245 14258
 14288 14315 14319 14343]

In [38]:
len(blanks[0])

964

In [39]:
blanks

(array([    0,     3,    13,    17,    19,    44,    47,    48,    50,
           54,    56,    57,    58,    62,   118,   137,   139,   140,
          165,   171,   183,   194,   203,   221,   241,   247,   258,
          283,   322,   324,   334,   340,   366,   381,   387,   418,
          433,   444,   445,   452,   493,   561,   566,   578,   590,
          637,   650,   665,   668,   674,   723,   767,   793,   819,
          827,   843,   856,   904,   922,   924,   928,   944,   974,
          995,  1026,  1031,  1035,  1036,  1039,  1075,  1088,  1093,
         1127,  1142,  1153,  1181,  1238,  1252,  1272,  1278,  1334,
         1386,  1391,  1394,  1481,  1525,  1526,  1531,  1539,  1566,
         1570,  1582,  1603,  1653,  1674,  1682,  1700,  1736,  1745,
         1746,  1753,  1767,  1781,  1790,  1795,  1815,  1833,  1841,
         1846,  1850,  1853,  1864,  1869,  1870,  1874,  1899,  1914,
         1928,  1993,  2005,  2029,  2044,  2052,  2065,  2072,  2079,
         2087,  2110,  2125,  2139,  2162,  2171,  2176,  2177,  2181,
         2189,  2196,  2205,  2224,  2226,  2230,  2233,  2237,  2285,
         2327,  2354,  2374,  2387,  2415,  2420,  2426,  2480,  2500,
         2501,  2502,  2529,  2549,  2553,  2556,  2559,  2569,  2570,
         2599,  2611,  2626,  2654,  2667,  2668,  2686,  2687,  2698,
         2713,  2729,  2733,  2749,  2753,  2754,  2762,  2769,  2775,
         2794,  2806,  2809,  2814,  2869,  2875,  2894,  2904,  2934,
         2956,  2987,  3018,  3071,  3095,  3132,  3142,  3148,  3155,
         3156,  3158,  3168,  3174,  3180,  3181,  3196,  3221,  3236,
         3243,  3251,  3254,  3255,  3258,  3276,  3284,  3289,  3328,
         3340,  3358,  3370,  3382,  3385,  3407,  3422,  3446,  3462,
         3465,  3484,  3505,  3509,  3526,  3557,  3611,  3635,  3647,
         3661,  3665,  3673,  3674,  3680,  3701,  3723,  3737,  3745,
         3760,  3785,  3798,  3800,  3824,  3826,  3836,  3850,  3854,
         3890,  3927,  3933,  3967,  3988,  3993,  4001,  4002,  4005,
         4023,  4026,  4043,  4057,  4095,  4121,  4132,  4167,  4175,
         4205,  4238,  4246,  4256,  4259,  4281,  4305,  4310,  4325,
         4326,  4334,  4337,  4343,  4346,  4348,  4357,  4360,  4384,
         4390,  4393,  4407,  4413,  4416,  4419,  4422,  4454,  4466,
         4467,  4507,  4510,  4518,  4564,  4570,  4600,  4639,  4647,
         4650,  4673,  4678,  4711,  4713,  4716,  4718,  4724,  4770,
         4797,  4807,  4841,  4874,  4890,  4896,  4897,  4918,  4978,
         4982,  5001,  5002,  5024,  5042,  5061,  5065,  5074,  5075,
         5085,  5089,  5091,  5092,  5104,  5109,  5114,  5121,  5149,
         5164,  5202,  5211,  5218,  5242,  5246,  5258,  5277,  5296,
         5298,  5306,  5313,  5318,  5338,  5361,  5373,  5387,  5389,
         5391,  5392,  5404,  5410,  5446,  5447,  5449,  5457,  5464,
         5474,  5494,  5505,  5521,  5543,  5546,  5548,  5585,  5596,
         5610,  5613,  5619,  5622,  5624,  5626,  5628,  5630,  5632,
         5639,  5654,  5655,  5656,  5660,  5706,  5712,  5719,  5733,
         5734,  5775,  5787,  5799,  5863,  5875,  5880,  5933,  5949,
         5955,  5958,  5965,  5982,  6004,  6007,  6028,  6048,  6060,
         6105,  6110,  6111,  6125,  6128,  6131,  6137,  6158,  6187,
         6211,  6223,  6231,  6234,  6237,  6239,  6243,  6246,  6250,
         6251,  6257,  6259,  6304,  6331,  6368,  6372,  6380,  6424,
         6450,  6514,  6515,  6534,  6536,  6539,  6564,  6568,  6578,
         6600,  6602,  6633,  6637,  6654,  6668,  6684,  6720,  6721,
         6732,  6735,  6754,  6769,  6792,  6793,  6794,  6821,  6823,
         6826,  6828,  6829,  6843,  6865,  6883,  6895,  6897,  6918,
         6941,  6943,  6949,  6954,  6968,  7001,  7028,  7044,  7052,
         7054,  7064,  7089,  7097,  7134,  7171,  7197,  7236,  7239,
         7248,  7252,  7257,  7299,  7313,  7331,  7333,  7343,  7372,
         7403,  7422,  7429,  7431,  7445,  7459,  7466,  7476,  7492,
         7507,  7522,  7526,  7545,  7547,  7551,  7556,  7563,  7582,
         7599,  7603,  7622,  7623,  7626,  7628,  7630,  7657,  7659,
         7660,  7663,  7675,  7700,  7703,  7709,  7716,  7727,  7729,
         7742,  7750,  7753,  7772,  7778,  7787,  7790,  7795,  7805,
         7847,  7873,  7888,  7890,  7894,  7903,  7934,  7950,  7957,
         7971,  7985,  7992,  8016,  8030,  8038,  8044,  8046,  8051,
         8084,  8088,  8098,  8120,  8126,  8130,  8162,  8180,  8206,
         8219,  8240,  8258,  8305,  8334,  8348,  8354,  8374,  8387,
         8392,  8396,  8409,  8453,  8458,  8501,  8517,  8519,  8522,
         8531,  8535,  8537,  8564,  8568,  8570,  8573,  8580,  8608,
         8643,  8645,  8650,  8671,  8683,  8686,  8689,  8723,  8744,
         8753,  8755,  8758,  8771,  8772,  8784,  8814,  8818,  8831,
         8899,  8933,  8935,  8969,  8978,  8982,  8984,  8986,  8988,
         9038,  9057,  9085,  9087,  9088,  9102,  9109,  9116,  9162,
         9187,  9188,  9191,  9200,  9223,  9237,  9245,  9268,  9307,
         9321,  9336,  9352,  9358,  9388,  9389,  9390,  9418,  9474,
         9501,  9523,  9536,  9605,  9613,  9622,  9624,  9646,  9700,
         9707,  9720,  9751,  9765,  9790,  9804,  9813,  9821,  9831,
         9848,  9853,  9874,  9884,  9893,  9921,  9945,  9994,  9996,
        10018, 10024, 10033, 10056, 10078, 10084, 10086, 10090, 10093,
        10105, 10114, 10144, 10237, 10238, 10243, 10284, 10348, 10359,
        10369, 10373, 10393, 10426, 10440, 10477, 10524, 10537, 10551,
        10581, 10583, 10610, 10641, 10663, 10674, 10680, 10683, 10718,
        10729, 10766, 10769, 10771, 10775, 10779, 10829, 10830, 10841,
        10847, 10852, 10872, 10884, 10893, 10901, 10904, 10906, 10949,
        10960, 10976, 10981, 10999, 11025, 11032, 11077, 11086, 11098,
        11111, 11219, 11235, 11244, 11252, 11264, 11265, 11388, 11393,
        11401, 11409, 11418, 11449, 11457, 11460, 11491, 11505, 11516,
        11520, 11533, 11551, 11577, 11582, 11589, 11610, 11614, 11628,
        11639, 11670, 11699, 11706, 11731, 11734, 11745, 11748, 11753,
        11757, 11760, 11778, 11783, 11791, 11797, 11804, 11816, 11819,
        11829, 11845, 11856, 11859, 11914, 11925, 11936, 11967, 11973,
        11984, 11985, 11988, 12023, 12034, 12041, 12048, 12054, 12068,
        12084, 12096, 12106, 12124, 12137, 12156, 12159, 12160, 12172,
        12186, 12194, 12206, 12217, 12238, 12242, 12243, 12246, 12271,
        12277, 12292, 12301, 12303, 12329, 12354, 12387, 12392, 12416,
        12460, 12474, 12481, 12499, 12504, 12519, 12564, 12578, 12620,
        12653, 12692, 12707, 12711, 12713, 12721, 12725, 12746, 12761,
        12770, 12781, 12798, 12804, 12819, 12828, 12831, 12836, 12838,
        12870, 12899, 12947, 12966, 12973, 12978, 12983, 13011, 13017,
        13026, 13030, 13039, 13051, 13055, 13057, 13059, 13070, 13074,
        13109, 13118, 13121, 13123, 13141, 13145, 13146, 13147, 13156,
        13158, 13194, 13217, 13218, 13235, 13240, 13242, 13246, 13316,
        13352, 13358, 13368, 13372, 13415, 13450, 13474, 13489, 13496,
        13498, 13501, 13525, 13541, 13549, 13552, 13588, 13602, 13603,
        13606, 13611, 13623, 13638, 13664, 13669, 13699, 13703, 13711,
        13712, 13734, 13738, 13742, 13769, 13779, 13821, 13837, 13857,
        13868, 13873, 13934, 13945, 13948, 13950, 13951, 13952, 13959,
        13991, 13995, 14027, 14058, 14079, 14105, 14176, 14177, 14181,
        14183, 14214, 14235, 14244, 14245, 14258, 14288, 14315, 14319, 14343], dtype=int64),
 array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
        6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6], dtype=int64))

In [40]:
#drop the blanks:

#clean_final_i_set = final_i_set.drop(blanks[0])

In [41]:
#clean_final_i_set.shape

In [42]:
#Check for Blanks:
#blanks = np.where(pd.isnull(clean_final_i_set))
#print(blanks)

In [43]:
# Output to a new CSV

#clean_final_i_set.to_csv("clean_final_i_set.csv")
final_i_set.to_csv("clean_final_i_set.csv")

In [44]:
#Testing Reading in instacart Data:

clean_test_i_read = pd.read_csv("clean_final_i_set.csv", encoding='latin1')
clean_test_i_read.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle
0,0,1959414,3214,prior,1,2,11,NaN,2994,1,0,"Sushi Nori, Pacific, Organic",66,6,asian foods
1,1,1266616,114871,prior,5,0,13,7.0,2994,11,0,"Sushi Nori, Pacific, Organic",66,6,asian foods
2,2,3166823,3214,prior,3,2,18,20.0,18977,1,0,Mild Sweet Chili Sauce,66,6,asian foods
3,3,1959414,3214,prior,1,2,11,NaN,95,11,0,Organic Rice Vinegar,66,6,asian foods
4,4,1559052,70611,prior,17,5,15,30.0,95,8,0,Organic Rice Vinegar,66,6,asian foods